@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Kanit";
  color: #fefefe;
  background: #333;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/home.png") 0 0/cover no-repeat #333;
  background-blend-mode: soft-light;
}

.wrapper ::-moz-selection {
  background: none;
}

.wrapper ::selection {
  background: none;
}

section {
  overflow: hidden;
  -webkit-transition: all 700ms ease-in-out 0s;
  transition: all 700ms ease-in-out 0s;
}

section.off {
  opacity: 0;
  visibility: none;
}

._container {
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  ._container {
    padding: 0 15px;
  }
}

.title {
  position: relative;
  top: 0;
  text-align: center;
  font-size: 3.51562vw;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 5%;
  background-color: green;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0.1em green;
          box-shadow: 0px 0px 0.1em green;
}

@media (max-width: 767px) {
  .title {
    font-size: 8vw;
    margin: 0px 0px 0.7em 0px;
  }
  .title:before {
    width: 80%;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 0 0.5em;
  line-height: 1.7;
  font-size: 1.95312vw;
  border-radius: 5px;
  background-color: green;
  color: white;
  -webkit-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
}

.button:hover, .button:active {
  background-color: #eeeeee;
  color: black;
  text-shadow: -2px 0 0 green, 2px 0 0 yellowgreen;
  -webkit-box-shadow: -4px 0 0 green, 4px 0 0 yellowgreen;
          box-shadow: -4px 0 0 green, 4px 0 0 yellowgreen;
}

@media (max-width: 767px) {
  .button {
    font-size: 5.12821vw;
  }
}

.antients {
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

.antients__title {
  margin: 0px 0px 0.8em 0px;
}

.antients__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template: auto/repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3%;
}

@media (max-width: 767px) {
  .antients__row {
    grid-gap: 5%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.antients__item {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.antients__item:hover .antient__img {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.461);
          box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.461);
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.antients__item:hover .antient__img::before {
  opacity: 0.3;
}

.antients__item.selected, .antients__item:active, .antients__item:hover {
  z-index: 2;
}

.antients__item.checked .antient__img {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.461);
          box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.461);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.antients__item.checked .antient__img::before {
  opacity: 0;
  visibility: hidden;
}

.antients__item:active .antient__img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.antients__submit {
  margin-top: 40px;
}

.antient {
  display: block;
}

.antient__img {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.71);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.71);
  -webkit-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
}

.antient__img img {
  max-width: 100%;
  display: block;
  z-index: 1;
}

.antient__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.513);
  z-index: 2;
}

.level__title {
  margin: 0px 0px 0.6em 0px;
}

.level__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 3%;
  margin-bottom: 30px;
}

.level__item {
  margin: 5px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  display: block;
  border: 3px solid green;
  color: green;
  background-color: black;
  text-align: center;
  padding: 0.5em 1em;
  white-space: nowrap;
  font-size: 1.95312vw;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

@media (max-width: 767px) {
  .level__item {
    font-size: 6.41026vw;
  }
}

.level__item.checked {
  border-color: yellow;
  color: yellow;
}

.game__title {
  margin-bottom: 1em;
}

.game__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.game__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
}

@media (max-width: 767px) {
  .game__info {
    display: none;
  }
}

.game__ancient-img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20vw;
          flex: 0 1 20vw;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 13px black;
          box-shadow: 0px 0px 13px black;
  margin-right: 10%;
}

.game__ancient-img img {
  display: block;
  width: 100%;
}

.game__tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.game__table {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 48%;
          flex: 1 0 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.game__table img:only-child {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px black;
          box-shadow: 0px 3px 5px black;
}

@media (max-width: 767px) {
  .game__table {
    display: block;
  }
}

.game__deck, .game__playingCard {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
}

.game__cardBack, .game__cardFront {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 117.256%;
  border-radius: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.game__cardBack img, .game__cardFront img {
  width: 100%;
}

.game__cardBack {
  position: relative;
  cursor: pointer;
  background-image: url("../img/mythicCardBackground.png");
}

.game__cardBack::before {
  content: "next card >";
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1em;
}

@media (max-width: 767px) {
  .game__cardBack {
    padding-bottom: 20%;
    background-color: #333;
    background-blend-mode: multiply;
    margin-bottom: 5%;
  }
}

.game__cardBack.closed {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  background-image: linear-gradient(#333 0%, #222 100%);
}

.game__cardFront {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
  background-image: linear-gradient(#333 0%, #222 100%);
}

.stage {
  font-size: 2.34375vw;
  margin-bottom: 0.8em;
}

@media (max-width: 767px) {
  .stage {
    font-size: 3.84615vw;
  }
}

@media (min-width: 1700px) {
  .stage {
    font-size: 1.76471vw;
  }
}

.stage__title {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.stage__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stage__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.8em;
  height: 1.8em;
  background-color: #eeeeee;
  border-radius: 50px;
  -webkit-box-shadow: -3px 3px 2px black;
          box-shadow: -3px 3px 2px black;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

.stage__circle:not(:last-child) {
  margin-right: 0.2em;
}

.stage__circle.disabled {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.stage__green {
  background-color: #2bc72b;
}

.stage__brown {
  background: #996818;
}

.stage__blue {
  background-color: #6363e4;
}
